@tailwind base;
@tailwind components;
@tailwind utilities;

/* Dark blue: #03045e */
/* in the middle: #00b4d8 */
/* Very light blue/white : #caf0f8 */

html {
  background-color: #0a192f;
  box-sizing: content-box;
}

body {
  margin: 0;
  font-family: 'Gantari', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.footer {
  width: -moz-calc(100% - 100px);
  width: -webkit-calc(100% - 100px);
  width: calc(100% - 100px);
}