@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-color: #0a192f;
    box-sizing: content-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "Gantari", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family:
        source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

body::-webkit-scrollbar {
    width: 0.5em;
}

body::-webkit-scrollbar-button {
    height: 500px;
}

body::-webkit-scrollbar-thumb {
    background-color: #8d99ae;
    border: solid 1px #0a192f;
    border-radius: 10px;
}

.github {
    -webkit-filter: invert(0.75);
    /* safari 6.0 - 9.0 */
    filter: invert(0.75);
}

.github:hover {
    -webkit-filter: invert(1);
    /* safari 6.0 - 9.0 */
    filter: invert(1);
    cursor: pointer;
}

.sider-left {
    right: 15px;
    bottom: 200px;
}

.sider-right {
    right: 16px;
    bottom: 220px;
}

@media (width < 768px) {
    .sider-right {
        left: 32px;
    }
}

@media (width > 1023px) {
    .sider-right {
        right: 112px;
    }
}
